*{
    margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: coral;
    padding: 5px 20px;
    column-gap: 5px;
    justify-content: space-between;
}
.nav-item{
    margin: 0;
    color: aliceblue;
    font-family: monospace;
}
.nav-item-container{
    margin-top: 5px;
    display: flex;
    column-gap: 20px;
}
button{
    background-color: cadetblue;
    border: none;
    color: aliceblue;
    border-radius: 10%;
    font-family: monospace;
}
.footbar{
    background-color: cadetblue;
    border: none;
    color: black;
    border-radius: 0%;
    font-family: monospace;
    display: flex;
    padding: 5px 5px;
    column-gap: 100px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;;
}
.foot-item{
    color: aliceblue;
    font-family: monospace;
}
.foot-item-right{
    color: aliceblue;
    font-family: monospace;
    display: flex;
    flex-direction: row;
}
.text{
    font-size: 72px;
    color: black;
    font-family: monospace;
}